{% extends 'layout.html' %}

{% block body %}

<ul class='menu'>
    <a class='menuCell' href='/upload_page'> 
    <img class='menuCellImg' src=/static/images/csv.png>
    <div class='menuCellTitle'>CSV Upload</div>
    </a>
    <a class=menuCell href=/library> 
    <img class='menuCellImg' src='/static/images/lib.gif'>
    <div class='menuCellTitle'>File Library</div>
    </a>
    <a class='menuCell' href='/stat'> 
    <img class='menuCellImg' src='/static/images/stats.png'>
    <div class='menuCellTitle'>Stats</div>
    </a>
    <a class='menuCell' href='/about'> 
    <img class='menuCellImg' src='/static/images/cal.png'>
    <div class='menuCellTitle'>About</div>
    </a>
</ul>

{% endblock %}