{% extends 'layout.html' %}

{% block body %}

<ul class='menu'>
    <a class='menuCell' href='/upload_page'> 
    <img class='menuCellImg' src=/static/images/csv.png>
    <div class='menuCellTitle'>CSV Upload</div>
    </a>
    <a class=menuCell href=/library> 
    <img class='menuCellImg' src='/static/images/lib.gif'>
    <div class='menuCellTitle'>File Library</div>
    </a>
    <a class='menuCell' href='ChangePassword.php'> 
    <img class='menuCellImg' src='Five.gif'>
    <div class='menuCellTitle'>Later</div>
    </a>
    <a class='menuCell' href='Logout.php'> 
    <img class='menuCellImg' src='Six.jfif'>
    <div class='menuCellTitle'>Later</div>
    </a>
</ul>

{% endblock %}